body{
    background: #303641;
	margin:calc(50vh - 270px) auto;
}
a{
    text-decoration: none;
    color:#505F79;
}
.body-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 500px;
    margin: 0 auto;
    max-width: 400px;
}
.body-container:before{
    content: "";
    flex-shrink: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    height: 15px;
}
.login-header{
    text-align: center;
}
.login-header h1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
    color:#DEEBFF;
}
.login-body{
    display: block;
    margin-top:30px;
}
.login-body-content{
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #172B4D;
    padding: 48px;
}
.google-btn-wrapper{
    align-items: center;
    align-self: center;
    flex: 1 1 auto;
    margin: 0px 4px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.google-btn{
    background: #FFFFFF !important;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    font-weight: bold;
    height: 39px !important;
    line-height: 39px !important;
    align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    background: rgba(9, 30, 66, 0.04);
    border-radius: 3px;
    border-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #505F79 !important;
    cursor: default;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    height: 2.2857142857142856em;
    line-height: 2.2857142857142856em;
    margin: 0;
    max-width: 100%;
    outline: none !important;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    -webkit-transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    transition-duration: 0.1s, 0.15s;
    -webkit-transition-duration: 0.1s, 0.15s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.google-btn:hover{
    cursor: pointer;
}
.login-staff:after{
    color: #97A0AF;
    content: attr(data-i18n-or);
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:24px;
}
.form-input{
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background-color: #FAFBFC;
    border-color: #F4F5F7;
    border-radius: 5px;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #091E42;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    font-size: 14px;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    line-height: 1.4285714285714286;
    max-width: 100%;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
    word-wrap: break-word;
    margin-bottom: 20px;
    border-width: 1px;
    padding: 7px 7px;
}
.form-input-element{
    background: transparent;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    cursor: inherit;
    font-size: 14px;
    outline: none;
    width: 100%;
}
.login-btn:hover{
    background: #0065FF;
    cursor: pointer;
}

.login-btn{
    align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    background: #0052CC;
    border-radius: 3px;
    border-width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff !important;
    cursor: default;
    font-size: inherit;
    font-style: normal;
    height: 2.2857142857142856em;
    line-height: 2.2857142857142856em;
    margin: 0;
    max-width: 100%;
    outline: none !important;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    -webkit-transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    transition-duration: 0.1s, 0.15s;
    -webkit-transition-duration: 0.1s, 0.15s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

footer{
    
    text-align: center;
    display: block;
}

footer ul{
    justify-content: center;
    list-style: none;
    padding: 0;
}

footer ul li {
    list-style: none;
    width: 100%;
    float: left;
    margin-bottom:10px;
}
footer ul li a{
    text-decoration: none;
    font-size: 12px;
    color:#DEEBFF!important;
}

footer ul li span{
    color:#fff;
}